{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{% static 'bg.css' %}"/>
  </head>

  <div style="background-image: url(/static/images/kz.png);background-repeat:no-repeat;background-position: top left;">

    <div class="parent">
      <div class="div1">1
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="1">
          {{ form.as_p }}
          <button type="submit">Upload</button>
      </form>
     </div>
      <div class="div2">2 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="2">
          {{ form.as_p }}
          <button type="submit">Upload</button>
      </form>
      </div>
      <div class="div3">3 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="3">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div4">4 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="4">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div5">5 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="5">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div6">6 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="6">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div7">7 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="7">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div8">8 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="8">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div9">9 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="9">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div10">10 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="10">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div11">11 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="11">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div12">12 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="12">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div13">13 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="13">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div14">14 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="14">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div15">15 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="15">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div16">16 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="16">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div17">17 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="17">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div18">18 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="18">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div19">19 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="19">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div20">20 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="20">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div21">21 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="21">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div22">22 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="22">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div23">23 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="23">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div24">24 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="24">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div25">25 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="25">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div26">26 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="26">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      <div class="div27">27 
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_id" value="27">
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
      </div>
<body>
  <form method="get">
    {% csrf_token %}
      <button type="submit" name="post_id" value="100">Reset</button>
  </form>
  
</body>
      


</html>


